.cover-1{
    position: absolute;
    left: 95.67%;
    right: -1.98%;
    top: 34.15%;
    bottom: 40.22%;
}

.cover-2{
    position: absolute;
    left: 88.18%;
    right: 3.18%;
    top: 78.82%;
    bottom: 3.71%;
}

.cover-3{
    position: absolute;
    left: 32.81%;
    right: 61.46%;
    top: 89.78%;
    bottom: 1%;
}

.cover-4{
    position: absolute;
    left: 53.59%;
    right: 40.31%;
    top: 3.61%;
    bottom: 75.63%;
}

.cover-5{
    position: absolute;
    left: 42.03%;
    right: 50.47%;
    top: 13%;
    bottom: 64.86%;
}

.cover-6{
    position: absolute;
    width: 147.37px;
    height: 210px;
    left: -30px;
    top: 250px;
}

.logo-1{
    position: absolute;
    left: 10.42%;
    right: 80.16%;
    top: 7%;
    bottom: 72.64%;
}
.title-1{
    position: absolute;
    width: 400px;
    height: 100px;
    left: 397px;
    top: -10px;

    font-family: 'Black Han Sans', sans-serif;
    font-style: normal;
    font-weight: 900px;
    font-size: 72px;
    line-height: 100px;
    color: #ffffff;
}

.icon-contact{
    position: absolute;
    width: 360px;
    height: 594px;
    left: -70px;
    top: 300px;
    z-index: 2;
}