.body{
    position: relative;
    width: 1920px;
    height: 1080px;

    /* bg */

    background: radial-gradient(97.91% 60.14% at 50% 50%, #FFDB7E 0%, #FF7A00 100%);
    border-radius: 32px;
    overflow: hidden;
}

.background{
    /* bg */


    position: absolute;
    width: 1784px;
    height: 961px;
    left: 68px;
    top: 72px;

    /* Gradient / bg */

    background: linear-gradient(180deg, #FFB648 0%, #FFB648 100%);
    box-shadow: 0px 4px 27px rgba(180, 106, 38, 0.25);
    border-radius: 0px 0px 56px 56px;
}

.navigation{
    position: absolute;
    width: 1924.5px;
    height: 122.46px;
    left: 0px;
    top: 0px;

    background: #ED7200;
    box-shadow: 0px 4px 35px rgba(162, 58, 0, 0.75);
}

.logo{
    position: absolute;
    width: 229px;
    height: 91px;
    left: 201px;
    top: 5px;
}

.list-menu{
    position: absolute;
    width: 890px;
    height: 42px;
    left: 703px;
    top: 29px;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.menu-detail{
    list-style: none;
}

.menu-detail a{
    position: static;
    width: 96px;
    height: 22px;
    left: 24px;
    top: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    /* identical to box height */


    /* W */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px;
}

.icon-red{
    position: absolute;
    left: 33.13%;
    right: 65.23%;
    top: 84.29%;
    bottom: 11.86%;
}
.title{
    position: absolute;
    text-align: center;

    /* Header */
    width: 1920px;
    margin-top: 80px;
    font-family: 'Black Han Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* identical to box height, or 104% */


    color: #FFFFFF;
}
.table-list{
    display: grid;
    grid-template-columns: 356px 356px 356px 356px;
    gap: 28px;
    position: absolute;
    width: 356px;
    height: 499px;
    left: 200px;
    top: 400px;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 32px;

    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #FFFFFF;
    /* tabs */

    box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 28px;
    overflow: hidden;
}
.image-table{
    position: static;
    width: 100%;
    left: 0px;
    top: 0px;
}
.table h2{
    position: static;
    width: 144px;
    height: 37px;
    left: 0px;
    top: 0px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* Text */

    color: #23221F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 4px 0px 0px 5px;
}

.table p{
    margin: 4px 0px 5px 5px;
}

.address{
    color: #6C7272;
}

.date{
    margin: 4px 0px 0px 5px;
    display: flex;
    align-items: center;
}
.price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    /* or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #FA7D09;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px 0px 0px;
}
.button{
    /* Inside auto layout */
    margin-left: 5px;
    margin-top: 100px;
    position: absolute;
    background-color: #FF000A;
    color: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 1px 2px 0px 2px #BD000B;
    font-family: 'Black Han Sans', sans-serif;

    /* button */

    filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
}

.phone{
    position: static;
    width: 96px;
    height: 22px;
    left: 24px;
    top: 10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    /* identical to box height */


    /* W */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 50px;

    display: flex;
    align-items: center;
}
.icon{
    padding-right: 5px;
}
.icon-1{
    color: #FFB809;
}
.date-color{
    color: #444444;
}
.table-detail{
    position: absolute;
    height: 654px;
    width: 1520px;
    left: 200px;
    top: 300px;
    border-radius: 40px;
    background-color:#FDE8B3;
    box-shadow: 3px 6px 0px 5px #FFCA7B;
    border: 3px dashed #FFB489;
}

.table-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px;
    gap: 15px;
}
.price-detail{
    position: absolute;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 5px;

    color: #FA7D09;
}
.date-detail{
    display: flex;
    align-items: center;
}
.detail p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: justify;

}
.next{
    position: absolute;
    left: 1500px;
    right: 0%;
    top: 47.14%;
    bottom: 47.03%;
}
.pre{
    position: absolute;
    left: -50px;
    right: 94.39%;
    top: 47.14%;
    bottom: 47.03%;
}

.table-contact{
    position: absolute;
    height: 606px;
    width: 926px;
    left: 350px;
    top: 300px;
    border-radius: 40px;
    box-shadow: 3px 6px 0px 5px #FFCA7B;
    border: 3px dashed #FFB489;


    background: #FFF6D4;
}

.table-address{
    position: absolute;
    height: 165px;
    width: 500px;
    left: 1300px;
    top: 300px;
    box-shadow: 3px 6px 0px 5px #FFCA7B;
    border: 3px dashed #FFB489;
    border-radius: 40px;
    background-color: #FFF6D4;

}
.table-email{
    position: absolute;
    height: 165px;
    width: 500px;
    left: 1300px;
    top: 520px;
    box-shadow: 3px 6px 0px 5px #FFCA7B;
    border: 3px dashed #FFB489;
    border-radius: 40px;
    background-color: #FFF6D4;

}
.table-phone{
    position: absolute;
    height: 165px;
    width: 500px;
    left: 1300px;
    top: 737px;
    box-shadow: 3px 6px 0px 5px #FFCA7B;
    border: 3px dashed #FFB489;
    border-radius: 40px;
    background-color: #FFF6D4;

}

.title-contact{
    position: absolute;
    top: 10px;
    padding: 30px;
}

.form-contact{
    position: absolute;
    width: 293px;
    height: 56px;
    left: 30px;
    top: 120px;
}
.name{
    position: absolute;
    width: 293px;
    height: 56px;
    left: 0px;
    top: 0px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    padding: 0px 0px 0px 10px;
    border:none;
}
.email{
    position: absolute;
    width: 491px;
    height: 56px;
    left: 330px;

    /* W */

    background: #FFFFFF;
    border: none;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    padding: 0px 0px 0px 10px;
}
.phone-contact{
    position: absolute;
    width: 293px;
    height: 56px;
    left: 0px;
    top: 80px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    padding: 0px 0px 0px 10px;
    border:none;
}

.address{
    position: absolute;
    width: 491px;
    height: 56px;
    left: 330px;
    top: 80px;

    /* W */

    background: #FFFFFF;
    border: none;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    padding: 0px 0px 0px 10px;
}

.mess{
    position: absolute;
    width: 808px;
    height: 152px;
    left: 0px;
    top: 170px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */
    border: none;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    clear:left;
    min-width: 825px;
    max-width: 825px;
    min-height:200px;
    max-height:200px;
    padding: 10px 0px 0px 10px;
}

.btn-contact{
    position: absolute;
    left: 250px;
    top: 400px;
    background: #FF000A;
    height: 60.868553161621094px;
    width: 368.01788330078125px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 0px 2px #BD000B;
    color: #FFFFFF;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 18px;
}
.btn-contact:hover{
    background-color: #e90a15fd;
}

.table-address img{
    position: absolute;
    left: 8.91%;
    right: 79.59%;
    top: 24.64%;
    bottom: 45.41%;
}

.table-email img{
    position: absolute;
    left: 8.91%;
    right: 79.59%;
    top: 29.27%;
    bottom: 40.49%;
}

.table-phone img{
    position: absolute;
    left: 8.91%;
    right: 79.59%;
    top: 29.27%;
    bottom: 40.49%;
}
.address-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 358px;
    height: 89px;
    left: 134px;
    top: 30px;
}
.address-1 p{
    position: absolute;
    top: 40px;
    color: #23221F;
    opacity: 0.7;
    font-size: 18px;

}

.icon-checkout{
    position: absolute;
    left: 1030px;
    right: 31.05%;
    top: 230px;
    bottom: 5.45%;

}
.icon-index{
    position: absolute;
    left: 899px;
    right: 31.05%;
    top: 375px;
    bottom: 5.45%;

}

.table-checkout{
    position: absolute;
    height: 630px;
    width: 926px;
    left: 200px;
    top: 300px;
    border-radius: 40px;
    box-shadow: 3px 6px 0px 5px #FDE8B3;;
    border: 3px dashed #FFB489;


    background: #FFF6D4;
}
.table-index{
    position: absolute;
    height: 575px;
    width: 926px;
    left: 200px;
    top: 375px;
    border-radius: 40px;
    box-shadow: 3px 6px 0px 5px #FDE8B3;;
    border: 3px dashed #FFB489;


    background: #FFF6D4;
}

.table-checkout-1{
    position: absolute;
    height: 630px;
    width: 539.0003051757812px;
    left: 1175px;
    top: 300px;
    border-radius: 40px;
    box-shadow: 3px 6px 0px 5px #FDE8B3;;
    border: 3px dashed #FFB489;


    background: #FFF6D4;
}
.table-index-1{
    position: absolute;
    height: 575px;
    width: 539.0003051757812px;
    left: 1175px;
    top: 375px;
    border-radius: 40px;
    box-shadow: 3px 6px 0px 5px #FDE8B3;;
    border: 3px dashed #FFB489;


    background: #FFF6D4;
}

.icon-checkout-avatar{
    position: absolute;
    width: 300px;
    height: 594px;
    left: -70px;
    top: 300px;
    z-index: 2;
}
.icon-index-avatar{
    position: absolute;
    width: 290px;
    height: 500px;
    left: -50px;
    top: 460px;
    z-index: 2;
}
.icon-index-avatar-1{
    position: absolute;
    width: 788px;
    height: 443px;
    left: 950px;
    top: -30px;
}

.box-text p{
    padding: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */


    /* Text */

    color: #23221F;

    opacity: 0.7;
}


.index-text{
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-left: 14%;
    height: 50px;
    margin-top: 10px;
}

.index-text img{
    padding: 0px;
}

.index-text p{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */


    /* Text */

    color: #23221F;

    opacity: 0.8;

}

.icon-title-index{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 1240px;
    top: 280px;

    /* button */

    filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
    z-index: 2;
}
.form-index{
    position: absolute;
    top: 80px;
    left: 30px;
}
.option{
    position: absolute;
    width: 398px;
    height: 56px;
    left: 0px;
    top: 0px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    padding-left: 10px;
    /* identical to box height, or 144% */


    /* Text */

    color: #23221F;
    border: none;
}
option{
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 144% */
    /* Text */
    color: #23221F;
}

.icon-select{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 1555px;
    top: 385px;
    z-index: 2;
    filter: drop-shadow(0px 3px 2px #DE9959);
}

.quantily{
    position: absolute;
    width: 140px;
    height: 56px;
    left: 0px;
    top: 72px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */


    /* Ultimate Gray */

    color: #989A9C;
    padding-left: 10px;

}

.date{
    position: absolute;
    width: 215px;
    height: 56px;
    left: 165px;
    top: 68px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */


    /* Ultimate Gray */

    color: #989A9C;
    padding-left: 10px;

}

.icon-date{
    position: absolute;
    width: 53px;
    height: 56px;
    left: 1555px;
    top: 458px;
    z-index: 2;
    filter: drop-shadow(0px 3px 2px #DE9959);
}

.name-index{
    position: absolute;
    width: 455px;
    height: 66px;
    left: 0px;
    top: 144px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */


    /* Ultimate Gray */

    color: #989A9C;
    padding-left: 10px;
}
.email-index{
    position: absolute;
    width: 455px;
    height: 66px;
    left: 0px;
    top: 308px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */


    /* Ultimate Gray */

    color: #989A9C;
    padding-left: 10px;
}
.phone-index{
    position: absolute;
    width: 455px;
    height: 66px;
    left: 0px;
    top: 226px;

    /* W */

    background: #FFFFFF;
    /* inner shadow */

    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */


    /* Ultimate Gray */

    color: #989A9C;
    padding-left: 10px;
}

.btn-index{
    position: absolute;
    left: 60px;
    top: 400px;
    background: #FF000A;
    height: 60.868553161621094px;
    width: 368.01788330078125px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 0px 2px #BD000B;
    color: #FFFFFF;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 18px;
}

.btn-index:hover{
    background-color: #e90a15fd;
}